.post {
	width: 60%;
	box-shadow: 0 2px 3px black;
	margin-bottom: 40px;
	border-radius: 10px;

	.title {
		height: 40px;
	}
	.body {
		margin: 10px 20px;
	}
	.top-bar {
		height: 40px;
		border-bottom: 1px solid grey;
	}
	.bottom-bar {
		border-top: 1px solid grey;
		// height: 60px;
		.bottom-hight {
			height: 200px;
		}
	}

	.user-button,
	.admin-button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.like-button {
		}
		.comment-button {
		}
	}
	.button {
		width: auto;
		letter-spacing: 0.5px;
		// line-height: 50px;
		line-height: 20px;
		margin: 10px;
		padding: 10px 35px 10px 35px;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: bolder;
		border: none;
		cursor: pointer;

		&:hover {
			border: 1px solid black;
		}
	}
}
